In [15]:
import os
import numpy as np
import pandas as pd
from Bio.Seq import Seq
from Bio import SeqIO
#from Bio.Alphabet import Alphabet
from Bio.SeqRecord import SeqRecord

pd.options.mode.chained_assignment = None
import time
DIR = r'C:\Users\JonathanG03\Dropbox\MotifAi_Exercises\Sanofi\exp12\all_data\rf_all_data12\Singapore_30c'
filename="Singapore_30c_unique_rpm"

In [16]:
list_sequences = []
rpm = []


with open(os.path.join(DIR, filename+'.faa'), 'r') as f:  

        n=0
        m=1

        for i, line in enumerate(f):
            if i == n:
                rpm.append(line[26:-1])
                n+=2             
            if i == m:
                list_sequences.append(line[:-1])
                m+=2
            #if i>10002:
              #  break
            
print(len(list_sequences))
print(len(rpm))

df_read = pd.DataFrame(
    {'sequence_read': list_sequences,
    'rpm': rpm
    })
df_read.head(20)

77112
77112

     sequence_read                      rpm
0       CSLTDGMWIC    ts_29846.707735272925
1   CRTLDEAHLTMLWC   nts_26910.965990819852
2         SFTPFVPY       14361.861714506827
3   CITTEPFALKWQTC   nts_13271.122900187585
4       LPYWTLDTPH     s_13025.776765861277
5       CLWLDGMHVC    ts_11804.654005871484
6   CVVINSLDLAMTLC    nts_9907.777893051518
7   CTTLDSMHLLMTHC    nts_8932.001267388032
8       VKYDPWTTSS      s_8927.795333656724
9       CPGPYPVQYC    nts_8901.157753358439
10    LVEPMRVKTPQH     ts_8383.827904407539
11      CQEWHMGMRC    nts_8289.895384408324
12    CLYSDRAGMHLC   unts_7914.165304411465
13      KQWQSIMADK     ts_7905.753436948848
14      CGSPATLFEC    nts_7570.680716354634
15    CHYLNEPFFAPC   unts_7113.635917552483
16    CRSTMVDGMYVC  unts_6763.1414399434725
17    YAANHCVRTENC     ts_6712.670235167775
18      EPYKLKTSRS     ts_6391.617293677921
19  CGLSRHDWPFYVPC  unts_6168.7028059185905

In [18]:
df_read['rpm']=df_read['rpm'].str.strip('counts_')
df_read

        sequence_read                 rpm
0          CSLTDGMWIC  29846.707735272925
1      CRTLDEAHLTMLWC  26910.965990819852
2            SFTPFVPY  14361.861714506827
3      CITTEPFALKWQTC  13271.122900187585
4          LPYWTLDTPH  13025.776765861277
...               ...                 ...
77107    YYSYSWEHTVTD  1.4019779104360433
77108      YYTALYSPHT  1.4019779104360433
77109      YYTIYPAGLS  1.4019779104360433
77110      YYTSPLLRNS  1.4019779104360433
77111      YYVVLPKTPN  1.4019779104360433

[77112 rows x 2 columns]

In [19]:
df_read['rpm']= pd.to_numeric(df_read['rpm'], downcast="float")

In [25]:
df_read['rpm'].describe()

count    77112.000000
mean        12.968150
std        227.548248
min          1.401978
25%          1.401978
50%          1.401978
75%          1.401978
max      29846.707031
Name: rpm, dtype: float64